@font-face {
    font-family: PKMN;
    src: url(./PKMN\ RBYGSC.ttf);
}

html, body {
    background-color: teal;
    height: 100%;
    font-family: PKMN;
}

.text {
    font-weight: bold;
}

#typetext {
    color: teal;
}

.cardname {
    text-align: center;
}

.card {
    background-color: whitesmoke;
    transition: transform .5s;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    padding: 0.7%;
    border-radius: 15px;
    box-shadow: 5px 10px rgba(77, 77, 77, 0.589) ;
    justify-content: center;
    margin: 20px;
}

.card:hover {
    transform: scale(1.17);
}

.cardwrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.textwrapper {
    text-align: justify;
}

img {
    width: 320px;
    height: 320px;
}

@media(max-width: 768px){
    #img2 {
        content: url(./ditto.png);
    }
}

@media(max-width: 628px){
    #img3 {
        content: url(./zorua.png);
    }
}

